header {
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    position: relative;
}

#prof-photo {
    width: 15rem;
    height: 30rem;
    position: absolute;  
    margin-top: 4rem;
}