nav {
    background-color: #fce694;
    overflow: hidden;
    border-bottom: 3px black;
  }
  
  nav li {
    float: left;
    color: #373737;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav li:hover {
    background-color: #ddd;
    color: black;
  }
  